@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utilities */

.m-y-20 {
  margin: 20px 0;
}

.m-bot-30 {
  margin-bottom: 30px;
}

.blue-head-tag {
  background-color: #47adf1;
  color: #ffffff;
}

.white-head-tag {
  background-color: #ffffff;
  border: 1px solid #cbd1d5;
  color: #cbd1d5;
}

.head-tag {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
}

.body-tag {
  height: 40px;
  line-height: 40px;
  display: inline-block;
  padding: 0 20px;
  border-radius: 15px;
  color: #ffffff;
  font-size: 0.8em;
  margin-left: 10px;
  vertical-align: middle;
}

.blue-tag {
  background-color: #47adf1;
}

.magenta-tag {
  background-color: #9c72e4;
}

.green-tag {
  background-color: #71c5b0;
}

.orange-tag {
  background-color: #f29e33;
}

.pink-tag {
  background-color: #d863a1;
}

.lime-tag {
  background-color: #b0c926;
}
/* utilities end  */

main {
  background-color: #f6f8f9;
}
.container {
  width: 70%;
  margin: 20px auto;
  background-color: #ffffff;
}

.title {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
}

#logo {
  height: 80px;
  line-height: 80px;
  vertical-align: middle;
  background-repeat: no-repeat;
}

.head {
  padding: 10px 50px;
}

hr {
  border: 1px solid #cbd1d5;
}

.list {
  margin: 20px 50px;
  line-height: 3em;
}

.list-headings {
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  color: #4a4e57;
}

.list-headings::before {
  content: "\25BC";
  font-size: 0.5em;
  margin-right: 10px;
}

ul li {
  list-style-type: none;
}
.checked::before {
  content: "\2713";
  color: #7ecdbb;
  border: 1px solid #7ecdbb;
  border-radius: 50%;
  padding: 0 5px;
  margin-right: 10px;
}

.cross::before {
  content: "\274C";
  color: #eb5952;
  border: 1px solid #eb5952;
  border-radius: 50%;
  padding: 5px 5px;
  margin-right: 10px;
  font-size: 0.8em;
}
